header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem 4rem;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.logo {
    color: #db0000;
    font-size: 28px;
    letter-spacing: 1.2px;
    font-family: "Assistant", sans-serif;
    text-transform: capitalize;
    font-weight: 700;
}

@media (min-width: 600px) and (max-width: 815px) {

    header {
        grid-template-columns: 1fr 2fr;
        column-gap: 1rem;
    }
    .placeholder-div {
        display: none;
    }

    .input-container {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .logo-container {
        justify-content: center;
    }

    header {
        grid-template-columns: 1fr;
        row-gap: 1rem;
        padding: 1rem 20px;
    }
    .placeholder-div {
        display: none;
    }

    .input-container {
        padding-top: .5rem;
        padding-bottom: .5rem;
    }

}
