header form {
    flex-grow: 1;
}

.input-container {
    height: 100%;
    display: flex;
    width: 100%;
    margin: auto;
    background-color: #1f1b24;
    border-radius: 18px;
    border: 1px solid rgba(254, 254, 254, 0.3);
    align-items: center;
    padding-left: 8px;
}

.input-container input[type="text"] {
    background-color: transparent;
    border: none;
    outline: none;
    flex-grow: 1;
    color: white;
    padding: 0 12px;
    font-size: 1rem;
}

.clear-txt-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    align-self: stretch;
    cursor: pointer;
}